<IfModule mod_rewrite.c>
  # Enable Rewrite Engine
  RewriteEngine On

  # Redirect www to non-www
  RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
  RewriteRule ^(.*)$ https://%1/$1 [L,R=301]

  # Remove .html extension from URLs
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}\.html -f
  RewriteRule ^(.*)$ $1.html [L]

  # Redirect .html URL requests to clean URLs
  RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^/]+/)*[^.]+\.html\ HTTP/
  RewriteRule ^(([^/]+/)*[^.]+)\.html$ https://%{HTTP_HOST}/$1 [R=301,L]
  
  # Remove .php extension from URLs
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}\.php -f
  RewriteRule ^(.*)$ $1.php [L]
  
  # Redirect any 404 errors to the homepage
  ErrorDocument 404 https://brainscollege.edu.pk
</IfModule>

# Set the “ea-php74” package as the default PHP version (cPanel-generated)
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php74___lsphp .php .php7 .phtml
</IfModule>

# Redirect example.com to a different domain (Optional)
<IfModule mod_rewrite.c>
  RewriteCond %{HTTP_HOST} ^example.com$ [OR]
  RewriteCond %{HTTP_HOST} ^www.example.com$
  RewriteRule (.*)$ https://www.dreamhostexample.com/$1 [R=301,L]
</IfModule>



<IfModule mod_headers.c>
    <FilesMatch "\\.(js|css|html|htm|php|xml)$">
        SetOutputFilter DEFLATE
    </FilesMatch>
 </IfModule>
 
 
 
 
 <IfModule mod_rewrite.c>
    # Enable the RewriteEngine
    RewriteEngine On

    # Remove the .php extension from URLs
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php [L]
</IfModule>
